head {
  box-sizing: border-box;
    }

header {
  background-color: #33a6cc;
  position: relative;
  padding: 2em 4em;
  height: 6rem;
  width: 100%;
  overflow: auto;
    }

h1 {
  color: white;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

header p {
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  font-style: italic;
}

.section-header {
  color: #33a6cc;

}

h3 {
  color: #33a6cc;
  font-size: 20px;

}

.top-nav {
  position: relative;
  float: left;
  display: inline;
  text-align: left;
  background-color: rgb(217, 217, 217);
  width: 100%;

}

ul {
  list-style: none;

}

li a {
  float: left;
  padding: 8px;
}

section {
  padding: 5rem;
  width: 70%
}

.side-bar {
  width: 30%;
  float: right;
  padding: 1rem;
}

footer {
  margin-top: 15rem;
  background-color: rgb(77, 77, 77);
  padding: 10px;
  text-align: center;
  color: white;
  overflow: auto;
}
.footer-link {
  list-style: none;
  padding: 1rem;
}
